<div class=" bg-white">
    <div class="infoproject">
        <h5 class="text-center bg-dark text-white p-2">TỔNG THỂ VỀ DỰ ÁN</h5>
        <div class="expense d-flex mb-5">
            <div class="ex-1">
                <h6 class="fw-normal">Chi phí dự án</h6>
            <h6 class="fw-normal">Hiện tại đã chi</h6>
            <h6 class="fw-normal">Còn lại</h6> 
            </div>
            <div class="ex-2">
                <h6 class="fw-normal">$135.000.00</h6>
                <h6 class="fw-normal">$59.000.00</h6>
                <h6 class="fw-normal">$86.000.00</h6>
 
        </div>
    </div>
    <h5 class="text-center bg-dark text-white p-2">THÀNH VIÊN NHÓM</h5>
    <div class="container">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Khu Vực</th>
              <th scope="col">Số Lượng Nhân Viên</th>
              <th scope="col">Nhân Viên Đang Tạm Nghỉ</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>East</td>
              <td>50</td>
              <td>5</td>
            </tr>
            <tr>
              <td>West</td>
              <td>30</td>
              <td>3</td>
            </tr>
            <tr>
              <td>South</td>
              <td>45</td>
              <td>2</td>
            </tr>
            <tr>
              <td>North</td>
              <td>60</td>
              <td>8</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

</div>