<div class="">
    <div class="infoteam">
        <h5 class="text-center bg-dark text-white p-2">THÀNH VIÊN CỦA TEAM</h5>
        <div class="list-team">
            <ul>
                <li class="text-center bg-danger text-white p-2 mb-3">East
                </li>
                <li class="text-center bg-danger text-white p-2 mb-3">West</li>
                <li class="text-center bg-danger text-white p-2 mb-3">South</li>
                <li class="text-center bg-danger text-white p-2 mb-3">North</li>
            </ul>
           
            
        </div>
    </div>
</div>