
    <div class=" ">
    <div class="infoleader" >
        <h5 class="text-center bg-dark text-white p-2">TRƯỞNG NHÓM</h5>
        <div class="img">
            <img class="" src="../../assets/images/logo.png" alt="" width="100" height="100">
        </div>
        <h4 class="text-center">POLY TECHNIC</h4>
        <p class="text-center fw-medium">Tóm tắt về team</p>
        <div class="bg-white  border border-light-4   ">
           <ul class="p-0 m-0  ">
            <li class="list-unstyled border-bottom border-light-3 my-2 ps-3  ">SỐ LƯỢNG THÀNH VIÊN</li>
            <li class="list-unstyled border-bottom border-light-3 my-2 ps-3">TỔNG CHI PHÍ TẤT CẢ DỰ ÁN </li>
            <li class="list-unstyled border-bottom border-light-3 my-2 ps-3">CẮC TASK ĐANG XỬ LÝ </li>
            <li class="list-unstyled my-2 ps-3  ">DỰ ÁN SẮP TRIỂN KHAI </li>
           </ul>
        </div>
        <p class="text-center fw-medium">KHÁCH HÀNG</p>
        <div>
            <div class="bg-white  border border-light-4">
            <ul class="p-0 m-0 ">
                <li class="list-unstyled border-bottom border-light-3 my-2 ps-3  ">ABC Cate Ltd</li>
                <li class="list-unstyled border-bottom border-light-3 my-2 ps-3">Fpt Software </li>
                <li class="list-unstyled ps-3 my-2">GHI Industries </li>
               
               </ul>
            </div>
         </div>
    </div>
    </div>
  